$line-color: #DE3891;


.about {
    margin-bottom: 30px;
    .about-info {
        padding: 0px 10px;

        h1 {
            @include h1();
            margin-bottom: 30px;
            width: 220px
        }

        p {
            @include p();
        }

        .about-text {
            margin-bottom: 50px;
            border-bottom: 3px solid $primary;
            padding: 12px 0;
            width: 270px;
        }
    }

    .skills {
        border: 3px solid $primary;
        border-radius: 10px;
        box-shadow: -5px 5px 13px $primary;
        padding: 20px;
        margin-bottom: 50px;

        h1 {
            @include h1();
            width: 160px;
        }

        li {
            list-style: circle;
            font-size: 16px;

            &:hover {
                color: $link-hover-color;
            }
        }
    }

}

@media(min-width:576px) {

    .about {

        .about-info {

            h1 {
                font-size: 56px;
                width: 290px
            }

            p {
                font-size: 18px;
            }

            .about-text {
                width: 290px;
            }
        }

        .skills {
            h1 {
                @include h1();
                font-size: 56px;
                width: 220px;
            }

            li {
                font-size: 18px;
            }
        }
    }
}

@media(min-width:768px) {

    .about {

        .about-info {

            h1 {
                font-size: 70px;
                width: 360px;
            }

            p {
                margin-bottom: 90px;
            }
        }

        .skills {


            h1 {
                @include h1();
                font-size: 70px;
                width: 280px;
            }
        }
    }
}

@media(min-width:992px) {

    .about {
        margin-bottom: 70px;
        .skills {
            margin-top: 70px;

            h1 {
                @include h1();
                font-size: 56px;
                width: 220px;
            }

            li {
                font-size: 16px;
            }
        }
    }
}

@media(min-width:1200px) {

    .about {

        .skills {
            margin-top: 60px;
            padding: 20px 30px;

            h1 {
                @include h1();
                font-size: 70px;
                width: 280px;
            }

            li {
                font-size: 18px;
            }
        }
    }
}