$line-color: #DE3891;

.about {

    text-align: center;

    .about-info {

        h1 {
            font-size: 40px;
            color: $primary;
            margin-bottom: 40px;
        }

        p {
            font-size: 16px;
            padding: 0 15px;
            margin-bottom: 100px;
        }

       
    }

    span{
        display: block;
        float: right;
        width: 650px;
        height: 3px;
        background-color: $line-color;
    }

}

@media(min-width:576px) {

    .about {

        .about-info {

            h1 {
                font-size: 56px;
            }

            p {
                font-size: 18px;
            }
        }

    }


}

@media(min-width:768px) {

    .about {

        .about-info {

            h1 {
                font-size: 70px;
                margin-bottom: 50px;
            }
        }

        .about-container {
            width: 900px;
            height: auto;
        }
    }
}