header {


    .navbar {
        margin-top: 15px;
        margin-bottom: 70px;

        .navbar-brand {
            padding: 0;
        }

        .navbar-toggler span {
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 5px;
            border-radius: 5px;
            background-color: $link-color;

            &:last-of-type {
                margin-bottom: 0px;
            }
        }

        .navbar-nav{
            .dropdown-menu{
                background-color: $link-hover-color;
                box-shadow: -5px 5px 13px $primary;
                border: 2px solid $primary;
                border-radius: 10px;

                a{
                    color: #fff;
                    margin: 0;
                    &:hover{
                        color: $primary;
                        background-color: transparent;
                    }
                }
            }
        
        }

    }

    .navbar-nav .nav-item a {
        margin-left: 20px;
    }


}

@media(min-width:576px) {

    header {

        .navbar-brand {
            font-size: 35px;
        }
    }

}

@media(min-width:992px) {

    header {
        .navbar {
            margin-bottom: 120px;
        }

    }

}