.projects {

    text-align: center;
   padding-bottom: 70px; 
   

    h1 {
        @include h1();
    }

    p {
        @include p();
    }

    .images {

        img {
            border: 3px solid $primary;
            border-radius: 20px;
            margin-bottom: 10px;
            bottom: 0;
            transition: 0.15s linear;
            position: relative;

            &:hover {
                box-shadow: -7px 5px 35px 5px $link-hover-color;
                border: 3px solid $link-hover-color;
                bottom: 20px;

            }
        }
    }

    .button {
        background-color: $link-hover-color;
        border-radius: 10px;
        padding: 10px 25px;
        box-shadow: -3px 4px 13px $primary;
        margin-bottom: 50px;


        &:hover {
            box-shadow: -5px 5px 13px $link-hover-color;
            background-color: $primary;
            color: $body-bg;
        }
    }

    span {
        display: block;
        text-align: center;
        width: 1300px;
        height: 3px;
        background-color: $line-color;
    }
}


@media(min-width:576px) {
    .projects {

        h1 {
            font-size: 56px;

        }

        p {
            font-size: 18px;
        }


    }
}

@media(min-width:992px) {
    .projects {

        h1 {
            font-size: 70px;
            margin-bottom: 50px;
        }

        p {
            margin-bottom: 100px;
        }

        .images {

            img {
                margin-bottom: 30px;
            }
        }

        span {
            display: block;
            text-align: center;
            width: 1300px;
            height: 3px;
            background-color: $line-color;
        }
    }
}