.projects {

    text-align: center;
    margin-bottom: 40px;


    h1 {
        @include h1();
        width: 220px;
        margin: auto;
        margin-bottom: 30px;    
    }

    p {
        @include p();
        margin-bottom: 30px;
    }

    .images {

        img {
            border: 3px solid $primary;
            border-radius: 20px;
            margin-bottom: 25px;
            bottom: 0;
            transition: 0.15s linear;
            position: relative;
            width: 90%;
            height: 280px;

            &:hover {
                box-shadow: -7px 5px 35px 5px $link-hover-color;
                border: 3px solid $link-hover-color;
                bottom: 20px;

            }
        }
    }



    .button {
        background-color: $link-hover-color;
        border-radius: 10px;
        padding: 10px 25px;
        box-shadow: -3px 4px 13px $primary;
        margin-bottom: 70px;
        font-size: 18px;

        &:hover {
            box-shadow: -5px 5px 13px $link-hover-color;
            background-color: $primary;
            color: $body-bg;
        }
    }


}


@media(min-width:576px) {
    .projects {

        h1 {
            font-size: 56px;
            width: 290px;
        }

        p {
            font-size: 18px;
        }

    }
}

@media(min-width:768px){
    .projects{
        margin-bottom: 70px;
    }
}

@media(min-width:992px) {
    .projects {

        h1 {
            font-size: 70px;
            margin-bottom: 50px;
            width: 370px;
            
        }

        p {
            margin: auto;
            margin-bottom: 50px;
            width: 900px;
        }

    }
}